

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    <p>
     404 ERROR  The requested page couldn't be located. Checkout for any URL
        misspelling or <a href=" /home">return to the home page</a>.
    </p>
{% endblock %}
