{% extends 'base.html.twig' %}
{% block title %} admin!{% endblock %}

{% block body %}

<h1>Hey ADMIN ! Tu vas pouvoir créer tes Quizs :D !
pour afficher les quizs déja créé clique sur  !  </h1>
{% endblock %}


  
