 {# index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
{{form_start (form)}}
 <div class="form-group">
</div>
 <button  type="submit" class="btn btn-success">ajouter le Quiz</button>   
{{form_end (form)}}




{% endblock %}





      

