{% extends 'base.html.twig' %}
{% block title %} Bienvenue!{% endblock %}

{% block body %}

<h1 style="color:#59A1D9;">Bienvenue vous etes connecté !</h1> </br>
<h3>RÈGLES  ET OBJECTIFS DU JEU : Répondre à toutes les Questions des Quizs l'Objectif
 est d'éviter les recherches simultanées sur google
</h3>
<button type="button" class="btn btn-danger"  onclick="location.href='/quizToAnswer'">
      <i>  let's Start ! </i>
	</button>


{% endblock %}

